PIPELINES_API_KEY={{ pipelines_api_key }}
OPENAI_API_BASE_URL={{ pipelines_ollama_url }}
TASK_MODEL={{ task_model }}
TEMPLATE=Use the following context as your learned knowledge, inside <context></context> XML tags. <context>{{ '{{CONTEXT}}' }}</context>. When answer to user: the entire text that starts after the <context> tag and that ends before the </context> tag is the response; the <context> and </context> tags should not be included in the response; the answer must be transmitted to the user without changing the meaning, dates and numbers; if the context is empty, then ask for clarification; avoid mentioning that you obtained the information from the context.
